#Archivos de sistema
.DS_Store

#arbol de directorios
app/code/core
app/design/adminhtml
app/design/install
app/design/frontend/base
app/design/frontend/default/blank
app/design/frontend/default/blue
app/design/frontend/default/default
app/design/frontend/default/french
app/design/frontend/default/german
app/design/frontend/default/iphone
app/design/frontend/default/modern
app/Mage.php
#app/etc/
#app/locale/
downloader
errors
includes
js/blank.html
js/calendar
js/extjs
js/flash
js/index.php
js/jscolor
#js/mage
#js/prototype
js/scriptaculous
js/spacer.gif
js/tiny_mce
#js/varien
js/wee_developertoolbar/
lib
media
pkginfo
shell
var
skin/adminhtml
skin/install/
skin/frontend/base
skin/frontend/default/blank
skin/frontend/default/blue
skin/frontend/default/default
skin/frontend/default/french
skin/frontend/default/german
skin/frontend/default/iphone
skin/frontend/default/modern

#archivos de magento
.htaccess*
LICENSE.*
LICENSE*.*
RELEASE*.*
cron*.*
favicon.ico
get.php
index.php
index.php.sample
install.php
mage
php.ini.sample
